@use "../abstracts/" as *;
.main__table-addmeber{
    position: relative;
    .main__table{
        position: absolute;
        top: 3em;
        width: 100%;
    }
    .main__addmember{
        display: none;
        padding-top: 2.5em;
    }
}