@use "../abstracts/" as *;

.add-member__form{
    width: 60%;
  label{
    font-size: larger;
  }
  input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid $white-color;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  button {
    background-color: $blue-button;
    font-size: larger;
    color: $white-color;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: $blue-background;
  }
}
