@use "../abstracts/" as *;
.main{
    margin: 3em 0 0 1em;
}
.banner{
    display: flex;
    justify-content: space-between;
    &__left{
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 0.5em;
    }
    &__right{
        display: flex;
        flex-direction: row;
        background: $white-color;
        gap: 1em;
        align-items: center;
        padding: 0.5em 2em ; 
        border-radius: 1em;
        cursor: pointer;
        &__iclich{
            background: $blue-background;
            padding: 0.2em;
            border-radius: 0.5em;
        }
        &__text{
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            &__filter{
                font-size: 1.5em;
            }
        }
    }
}