@use "functions" as *;
//reponsive
$small:480px;
$medium: 768px;
$extra-large: 1440px;
$desktop:$extra-large;
$mobile: calc($small - 1px);
$tablet: calc($medium - 1px);

$dark-gray: #171717;
$red-color:#FF5B5B;
$white-color: #FFFFFF;
$dark-text-sidebar: #464255;
$dark-text-tiltecol: #141414;
$dark-text-data: #333333;
$blue-background: #86C9F6;
$grey-background: #F3F2F7;
$green-background: #00B07426;
$red-background: #FF5B5B26;
$blue-button: #0F67CE;
