@use "functions" as *;
//reponsive
$small: 480px;
$medium: 768px;
$extra-large: 1440px;
$desktop: $extra-large;
$mobile: calc($small - 1px);
$tablet: calc($medium - 1px);

$dark-gray: #171717;
$red-color: #ff5b5b;
$white-color: #ffffff;
$dark-text-sidebar: #464255;
$dark-text-tiltecol: #141414;
$dark-text-data: #333333;
$blue-background: #86c9f6;
$grey-background: #f3f2f7;
$green-background: #00b07426;
$red-background: #ff5b5b26;
$blue-button: #0f67ce;
